#login-panel {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
}

.page-title {
	margin-top: 50px;
	text-align: center;
	font-size: 50px;
}

.page-description {
	margin-top: 10px;
	text-align: center;
}